
<form name="myForm" ng-controller="MyCustomFormController">

        <!-- Parameter controls: Intensity and Radius -->

        <div class="mbot20" style="padding-bottom: 5px; margin-bottom: 0; overflow: hidden;">
                <h2 class="settings-section-title foldable-title" ng-click="config.optionsFolds.intensity = !config.optionsFolds.intensity">
                        <i class="icon-caret-right" ng-show="!config.optionsFolds.intensity" /><i class="icon-caret-down" ng-show="config.optionsFolds.intensity" />
                        Parameter controls
                </h2>
                <div ng-show="config.optionsFolds.intensity" class="options-zone">
                        <div class="options-zone" >
                                <div class="control-group">
                                        <label>
                                                Intensity: <div dku-slider min="0" max="100" value="config.intensity" class="qa_charts_opacity-slider" nb-decimal-places="1" />
                                        </label>
                                </div>
                        </div>
                        <div class="options-zone" >
                                <div class="control-group">
                                        <label>
                                                Radius: <div dku-slider min="0" max="20" value="config.radius" class="qa_charts_opacity-slider" nb-decimal-places="1" />
                                        </label>
                                </div>
                        </div>
                </div>
        </div>

        <!-- End of Parameter controls: Intensity and Radius -->

        <!-- Map BackGround Selector -->

        <div class="mbot20" style="padding-bottom: 5px; margin-bottom: 0; overflow: hidden;">
                <h2 class="settings-section-title foldable-title" id="qa_charts_map-background-submenu-header" ng-click="config.optionsFolds.mapTiles = !config.optionsFolds.mapTiles">
                        <i class="icon-caret-right" ng-show="!config.optionsFolds.mapTiles" /><i class="icon-caret-down" ng-show="config.optionsFolds.mapTiles" />
                        Map background
                </h2>

                <div ng-show="config.optionsFolds.mapTiles" class="options-zone" ng-controller="MapBackgroundPickerController">
                        <form class="dkuform-chart-options">
                                <div class="control-group">
                                        <label class="control-label" dku-for="#map-background-picker button">Tiles to use</label>
                                        <div class="controls">
                                                <div class="palette-picker__list-zone" id="map-background-picker">
                                                        <div class="flex oh" id="palette-picker">
                                                                <select ng-model="config.chart.def.mapOptions.tilesLayer"
                                                                        ng-selected="'cartodb-positron'"
                                                                        ng-options="x.id as x.name group by x.category for x in backgrounds | filter:{category: '!Mapbox'}" dku-bs-select>
                                                                </select>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>

        <!-- End of Map BackGround Selector -->

        <!-- Tooltip -->
    <ng-include ng-if="canAnimate" src="'/templates/simple_report/animation-options.html'"></ng-include>
    <ng-include ng-if="canFacet" src="'/templates/simple_report/facet-controls.html'"></ng-include>

    <div class="mbot20" dku-foldable open="false" open-on-drag-enter>
        <h2 class="settings-section-title foldable-title" ng-click="foldableToggle()">
            <i class="{{foldableOpen ? 'icon-caret-down' : 'icon-caret-right'}}" />
            Tooltip
        </h2>

        <div ng-show="foldableOpen">
            <div class="chartdef-dropzone chartdef-dropzone-vertical" ng-class="{'empty':chart.def.uaTooltip.length==0, 'notempty': chart.def.uaTooltip.length != 0}">
                <div data-block="dim1-placeholder"  class="empty-placeholder no-icon">
                    Drop to add tooltip measures
                </div>
                <div class="chartdef-dropzone-main qa_charts_tooltip-dropzone" multi-ua-zone-no-opts list="chart.def.uaTooltip" accept-callback="acceptUaTooltip"></div>
            </div>
        </div>
    </div>

        <!-- End of tooltip selector -->

        <!-- Color Scale Selector -->

        <div class="mbot20" style="padding-bottom: 5px; margin-bottom: 0; overflow: hidden;">
                <h2 class="settings-section-title foldable-title" ng-click="config.optionsFolds.colorScaleSelector = !config.optionsFolds.colorScaleSelector">
                        <i class="icon-caret-right" ng-show="!config.optionsFolds.colorScaleSelector" /><i class="icon-caret-down" ng-show="config.optionsFolds.colorScaleSelector" />
                        Color
                </h2>
                <div ng-show="config.optionsFolds.colorScaleSelector" class="options-zone">
                        <div>
                                <form class="dkuform-chart-options" palette-picker-logic container="chart.def.colorOptions" type="{{chart.def.colorOptions.paletteType}}">
                                        <div class="control-group">
                                                <label class="control-label" dku-for="#palette-picker button">Palette</label>
                                                <div class="controls">
                                                        <div class="palette-picker__list-zone">
                                                                <div class="horizontal-flex">
                                                                        <div class="flex oh" id="palette-picker">
                                                                                <select dku-bs-select="{width: '220px', customDropdownAttrs: {'no-global-contextual-menu-close': 'true'}}"
                                                                                        ng-model="container.colorPalette" ng-if="categories" class="palette-select qa_charts_palette-select"
                                                                                        data-container="body" watch-model="container.quantizedPalette">
                                                                                        <optgroup ng-repeat="(category, palettes) in categories" label="{{category}}">
                                                                                                <option ng-repeat="palette in palettes track by palette.id" value="{{palette.id}}"
                                                                                                        data-content='{{getPaletteContent(palette)}}'>{{palette.id}}</option>
                                                                                        </optgroup>
                                                                                </select>
                                                                        </div>

                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                </form>
                        </div>
                </div>
        </div>

        <!-- End of Color Scale Selector -->

</form>
