<form name="myForm" ng-controller="MyCustomFormController">

        Model as range: <input type="range" name="range" ng-model="config.value" min="{{min}}"  max="{{max}}">
        <hr>
        Model as number: <input type="number" ng-model="config.value"><br>
        Min: <input type="number" ng-model="config.min"><br>
        Max: <input type="number" ng-model="config.max"><br>
        value = <code>{{config.value}}</code><br/>
        myForm.range.$valid = <code>{{myForm.range.$valid}}</code><br/>
        myForm.range.$error = <code>{{myForm.range.$error}}</code>
</form>